---
import type { Goal } from '@/types';
export type Props = Goal & {
  id: string;
};
const { id, title, background, styling, img } = Astro.props;
---

<div
  id={id}
  class={`border rounded-3xl border-transparent px-12 py-8 ${
    background ?? 'bg-background-dark'
  }${styling ? ` ${styling}` : ''}`}
>
  {img && <img src={img} alt={title} class='mb-4 h-12 w-12' />}
  <h2 class='mb-4 text-2xl font-bold text-white'>{title}</h2>
  <slot name='content' />
</div>
